.container-contact{
    background: 
    linear-gradient(rgba(26,26,26,0.8), 
    rgba(26,26,26,0.3)), 
    url(../images/inscriptions/inscriptions.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    .title{
        color: #fff;
        font-size: 1.3em;
        letter-spacing: 2px;
        margin-top: 150px;
    }
    .contact-form{
        position: relative;
        width: 700px;
        margin-top: 20px;
        .row{
            width: 100%;
            display: flex;
            .col{
                display: flex;
                align-items: center;
                width: 50%;
                margin: 10px;
                .label-inscription{
                    padding: 0 10px;
                    color: #cecece;
                }
            }
            .col-area{
                width: 100%;
                margin: 10px;
                text-align: center;
            }
            input, textarea{
                width: 100%;
                padding: 10px;
                border: none;
                outline: none;
                background: rgba(255,255,255,0.1);
                color: white;
                font-size: 16px;
                font-family: 'Poppins';
                resize: none;  
            }
            textarea{
                height: 100%;
            }
            input[type="submit"]{
                border: 2px solid #21ebff;
                padding: 10px 30px;
                background: none;
                margin: 0 15px;
                display: inline-block;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 2px;
                cursor: pointer;
                max-width: 200px;
                margin-bottom: 30px;
                transition: .5s;
            }
            input[type="submit"]:hover{
                background: #21ebff;
            }
        }
    }
    .contact-form-response{
        font-size: 1.5rem;
        text-align: center;
        color: $main-color;
        .none{
            display: none;
        }
    }
    .contact-form-error{
        margin-top: -.5rem;
        font-size: 80%;
        background-color: red;
        color: #fff;
        transition: all 800ms ease;
    }
    .contact-form-error.is-active{
        display: block;
        animation: show-message 1s 1 normal 0s ease-out both;
    }
}

footer{
    width: 100%;
}


